<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<saker.build.ide.project.config xmlns:s="saker://serialization/types">
    <project-properties>
        <version>1</version>
        <working_dir>wd:</working_dir>
        <build_dir>build</build_dir>
        <mirror_dir/>
        <require_ide_config>true</require_ide_config>
        <repositories>
            <s:array>
                <s:obj>
                    <repo_id>nest</repo_id>
                    <classpath>
                        <type>nest-repository-classpath</type>
                    </classpath>
                    <service>
                        <type>nest-repository-service</type>
                    </service>
                </s:obj>
            </s:array>
        </repositories>
        <mounts>
            <s:array>
                <s:obj>
                    <root>wd:</root>
                    <client>project</client>
                    <path>/</path>
                </s:obj>
            </s:array>
        </mounts>
        <script_configs>
            <s:array>
                <s:obj>
                    <wildcard>**/*.build</wildcard>
                    <options>
                        <s:array/>
                    </options>
                    <classpath>
                        <type>builtin-scripting-classpath</type>
                    </classpath>
                    <service>
                        <type>builtin-scripting-service</type>
                    </service>
                </s:obj>
            </s:array>
        </script_configs>
        <script_modelling_exclusions>
            <s:array>
                <s:val>**/test/resources/**</s:val>
            </s:array>
        </script_modelling_exclusions>
        <parameterized_build_targets>
            <s:array>
                <s:obj>
                    <uuid>94875b95-1cd3-4f38-a22a-db17ac3af49d</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 8</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>8</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>3962280f-2c05-4e4a-b13e-972903de7332</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 9</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>9</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>95f7344d-6473-4392-abc3-456021fbd95d</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 10</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>10</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>566a3028-3d11-4fac-8888-55b41d9b5256</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 11</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>11</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>9edba584-af26-4d8d-a6ad-64010dc9312c</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 12</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>12</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>807e6d88-f65b-4ec4-b414-e868d92b29e0</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 13</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>13</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>9c1fb0ec-7c0b-4254-8ef6-db97c88de879</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 14</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>14</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>fd1a7c4c-5d81-40f8-8ffd-b30ac11c38f2</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 15</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>15</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
                <s:obj>
                    <uuid>f786ecf4-c4cd-4e51-ae4e-ffb1dbe6d15b</uuid>
                    <script_path>saker.build</script_path>
                    <target_name>test</target_name>
                    <display_name>Test Java 16</display_name>
                    <parameters>
                        <s:array>
                            <s:obj>
                                <name>javaversion</name>
                                <value>16</value>
                            </s:obj>
                        </s:array>
                    </parameters>
                </s:obj>
            </s:array>
        </parameterized_build_targets>
    </project-properties>
</saker.build.ide.project.config>
